style2.css

/* Basic styles for the navigation bar */
nav {
    
    background-color: brown;
    padding-bottom: 15px;
    position: absolute;
    margin-left: 30%;
    margin-top: 50px;
    width: 50%;
    height: 30px;
    opacity: 0.5;
}

nav ul {
    list-style-type: none;
    float: right;
    padding-right: 5px;
    font-size: larger;
    color: white;
    
}

nav ul li {
    display: inline-block;
    padding-left: 40px;
    font-size: larger;
    color: white;
}
  


header {
    background-image: url(backlit-chiemsee-dawn-desktop-backgrounds.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
    

}

p {
    display: inline-block;
    padding-left: 10px;
    
    color: white;
    font-size: larger;

}

.statements {
    padding-top: 30%;
    padding-left: 45%;
}

h2 {
    color: white;
    font-size: larger;

}

hr {
    width: 200px;
    
    margin-right: 800px;

}
.n2{

    width: 100%;
    margin-right: 100%;
}
button {
    background-color:white;
}

h3 {
    color:white;
    font-size: larger;
}

.dots {
    text-align: center;
}

.circles {
    width: 1px;
    height: 1px;
    background-color: black;
    border-radius: 50%;
    padding: 4px;
    margin-left: 10px;
    background-color: rgb(109, 105, 113);
}

.sec1 {
    text-align: center;
}

.line1 {
   
    font-weight: bolder;
    font-size: 25px;
    color: black;
}
.line2{
    font-weight: bolder;
        font-size: 25px;
        color: black;
}


.pic {
    height: 80px;
    width: 80px;
    padding: 100px;
    margin: 50px 10px;
    display: inline-block;


}

.pic1 {
    background-color: rgb(202, 187, 204);

}

.pic2 {
    background-color: rgb(203, 169, 227);

}

.pic3 {
    background-color: rgb(227, 170, 239);
}

.pic4 {
    background-color: rgb(212, 190, 214);
}

.imgs {
    height: 250px;
    width: 250px;
    padding-left: 50px;
    padding-top: 20px;



}
footer {
    background-color: rgb(48, 46, 46);
    padding: 20px;
    color: white;
    margin-top: 30px;
}