* {
    padding: 5px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    padding: 0;
}

.pics img {
    width: 250px;
    height: 150px;
}

.view {
    direction: rtl;
    color: coral;
    text-decoration: underline;
}

.view:hover {
    cursor: pointer;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr;

}

.container .border {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 4fr));
    gap: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
}

.container .border .text {
    color: rgb(112, 109, 109);
}

.read {
    color: coral;
    float: right;
}

footer {
    color: white;
    background-color: rgb(48, 44, 43);
}